.sp-d-none {
  display: block;
}

.pc-d-none {
  display: none;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(27, 82, 118, 0.3);
}

.black {
  transition: all 0.8s;
  background-color: #a2bad2; /* 20230303 更新 */
}

.header .nav {
  /* font-size: 24px; */
  padding: 0.5% 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  color: #fff;
  /* background-color: rgba(75, 162, 196, 0); */
}
.header .nav li:first-child {
  margin-right: auto;
}

.header .logo {
  width: 120px;
}
.header .btn {
  color: #fff;
  display: flex;
  align-items: center;
}

.header .icon-size {
  width: 100%;
  margin-right: 8px;
}

@media (max-width: 1024px) {
  .header.nav {
    justify-content: space-between;
  }
  .header .material-symbols-outlined {
    color: #fff;
    font-size: 2em;
    line-height: 1;
  }
  .header .logo {
    width: 30%;
  }
}

.header .dropdown {
  position: absolute;
  left: 0;
  top: 75.4%;
  width: 100%;
  max-height: 0;
  padding-left: 0;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
  background-color: #a2bad2; /* 20230303 更新 */
}
.header .dropdown.active {
  max-height: 100vh;
}

.header .dropdown li a {
  display: block;
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  padding: 32px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .header .nav {
    padding: 0.5% 5%;
  }
  .header .dropdown li a {
    font-size: 1.5em;
    padding: 16px 0;
  }
  .sp-d-none {
    display: none;
  }

  .pc-d-none {
    display: block;
  }
}
